client/yarn-error.log*

client/node_modules
client/dist
client/*.local
client/tsconfig.tsbuildinfo
client/.env


server/dist
server/node_modules
server/.vs-code
server/.env
server




variables.env
node_modules