client/yarn-error.log*

client/node_modules
client/dist
client/*.local
client/yarn.lock
client/tsconfig.tsbuildinfo
client/.env


server/dist
server/node_modules
server/.vs-code
server/.env




./variables.env